* {
    margin: 0px;
}
html {
    height: 100%;
    width: 100%;
}
.leaves {  
        position: relative;
        width: 100%;
        background-size: cover;
        display: flex;
}
.leaves::before {
        content: "";
        position: absolute;
        background-image: url(/fall_leaves.jpg);
        background-size: cover;
        opacity: 0.3;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
}

body {
    font-family: 'Dancing Script', cursive;
    width: 100%;
}
h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 3.5rem;
}
header {
    font-size: 2rem;
    font-weight: 900;
    padding-top: 15px;
    border-style: groove;
    border-right: 0px;
    border-left: 0px;
}
ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}
li {
    box-sizing: border-box;
    display: inline-block;
    margin: 0px auto;
    padding-bottom: 15px;
}
main {
    padding-bottom: 40px
}
@media (max-width: 1024px) {
    main {
        max-width: 330px;
}
.leaves {
    background-image: inherit;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
body {
    font-size: 1rem;
}
}